<section style="text-align:center;">
  <h2 id="character-name">
    {{ character?.name }}
  </h2>
  <div>
    <h3>Available spell points</h3>
    <span>{{ character?.currentSpellPoints }}</span> / <span style="font-weight:bold;">{{ character?.maxSpellPoints }}</span>
  </div>
  <div class="cast-spell-section">
    <h3>Cast a spell</h3>
    <button mat-raised-button class="primary" (click)="castSpell(1)">
      1<sup>st</sup> Level
    </button>
    <button mat-raised-button class="primary">
      2<sup>nd</sup> Level
    </button>
    <button mat-raised-button class="primary">
      3<sup>rd</sup> Level
    </button>
  </div>
</section>
